easy_admin:
    design:
        menu:
            - {label: "Entities"}
            - label: "Posts"
              children:
                - {entity: Post, label: "Posts list", icon: "th-list"}
                - {entity: Post, label: "Add post", icon: "plus", params: {action: 'new'}}
            - {label: "Admin Panel" , permission: 'ROLE_ADMIN'}
            - {label: "Users", permission: 'ROLE_ADMIN'}
            - {entity: User, label: "Users list", icon: "user", permission: 'ROLE_ADMIN'}
            - {entity: User, label: "Add user", icon: "plus", params: {action: 'new'}, permission: 'ROLE_ADMIN'}
            - {label: "Cars", permission: 'ROLE_ADMIN'}
            - {entity: Car, label: "Cars list", icon: "car", permission: 'ROLE_ADMIN'}
            - {entity: Car, label: "Add car", icon: "plus", params: {action: 'new'}, permission: 'ROLE_ADMIN'}
            - {label: "BodyTypes", permission: 'ROLE_ADMIN'}
            - {entity: BodyType, label: "Boty Types list", icon: "car", permission: 'ROLE_ADMIN'}
            - {label: "EngineSizes", permission: 'ROLE_ADMIN'}
            - {entity: EngineSize, label: "Engines list", icon: "car", permission: 'ROLE_ADMIN'}
            - {label: "Marks", permission: 'ROLE_ADMIN'}
            - {entity: Mark, label: "Marks list", icon: "car", permission: 'ROLE_ADMIN'}
    site_name: 'Driving Network'
    user:
        display_name: true
        display_avatar: true
        name_property_path: 'Username'
    entities:
        # List the entity class name you want to manage
        Post:
          class: App\Entity\Post
          label: "Post"
          form:
            fields:
            - {type: 'group', icon: 'pencil', label: 'Basic Information', css_class: 'col-lg-8'}
            - Title
            - {property: 'Content', type: 'text_editor'}
            - date
            - {type: 'group', icon: 'th-list', label: 'Other Information', css_class: 'col-lg-4'}
            - car
            - user
            -  {type: 'group', icon: 'clip', label: 'Attachments', css_class: 'col-lg-4'}
            - { property: 'thumbnailFile', type: 'vich_image' }
          list:
            collapse_actions: true
            actions: ['show','edit','delete']
            batch_actions: ['delete']
            fields: ['title', 'content', 'date','Car','User',{property: 'thumbnail', type: 'image' , base_path: '%uploads_path%'}]
            filters: ['date']
            item_permission: 'ROLE_USER'
        User:
          class: App\Entity\User
          list:
            collapse_actions: true
            actions: ['show','edit','delete']
            batch_actions: ['delete']
            filters: ['username','email']
            item_permission: 'ROLE_ADMIN'
          new:
            item_permission: 'ROLE_ADMIN'
        Car:
          class: App\Entity\Car
          list:
            collapse_actions: true
            actions: ['show','edit','delete']
            batch_actions: ['delete']
            filters: ['name','year','mark']
            item_permission: 'ROLE_ADMIN'
          label: "Car"
          new:
            item_permission: 'ROLE_ADMIN'
        BodyType:
          class: App\Entity\BodyType
          list:
            collapse_actions: true
            actions: ['show','edit','delete']
            batch_actions: ['delete']
            filters: ['name']
            item_permission: 'ROLE_ADMIN'
          show:
            fields:
              - Name
          new:
            item_permission: 'ROLE_ADMIN'
        EngineSize:
          class: App\Entity\EngineSize
          list:
            collapse_actions: true
            actions: ['show','edit','delete']
            batch_actions: ['delete']
            filters: ['name']
            item_permission: 'ROLE_ADMIN'
          show:
            fields:
              - Name
          new:
            item_permission: 'ROLE_ADMIN'
        Mark:
          class: App\Entity\Mark
          list:
            collapse_actions: true
            actions: ['show','edit','delete']
            batch_actions: ['delete']
            filters: ['name']
            item_permission: 'ROLE_ADMIN'
          show:
            fields:
              - Name
          new:
            item_permission: 'ROLE_ADMIN'

